* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}
:root {
    --p-r:hsl(0, 78%, 62%);
    --p-cyan:hsl(180, 62%, 55%);
    --p-or:hsl(34, 97%, 64%);
    --p-b:hsl(212, 86%, 64%);
    --db:hsl(234, 12%, 34%);
    --gr-b:hsl(229, 6%, 66%);
    --lg:hsl(0, 0%, 98%);
    --fws:200;
    --fwm:400;
    --fwl:600;
}
body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffeaea;
}
.container {
    min-height: 100vh;
    width: 90%;
    margin: auto;

}
.container header {
    text-align: center;
    margin-top: 70px;
}
.container header h3 {
    font-size: calc(1em + .7vw);
    font-weight: var(--fws);
    color: var(--gr-b);
   
}
.container header h2 {
    font-size: calc(1em + 1.2vw);
    font-weight: var(--fwl);
    margin-bottom: 15px;
    color: var(--db);
    margin-top: 5px;
  
    
}
.container header p {
    font-size: calc(.8em + .3vw);
    font-weight: var(--fwm);
    color: var(--gr-b);
    max-width:350px;
    margin: 0 auto 10px;
}
.container .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
.container .flex .card  {
    width:280px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 5px gray;
    border-radius: 4px;
    position: relative;
    flex-grow: 1;
    Align-items:center;

}
@media (min-width:1024px) {
    .container .flex .card {
        flex-grow: 0;
    }
}


.container .flex .card::before {
    content: '';
    width: 100%;
    left: 0;
    top: -1px;
    height: 5px;
    
    position: absolute;

}
.container .flex > .card:first-child:before {
    background-color: var(--p-cyan);
}
.container .flex > .card:last-child:before {
    background-color: var(--p-b);
}
.container .flex-in > .card:first-child:before {
    background-color: var(--p-r);
}
.container .flex-in > .card:last-child:before {
    background-color: var(--p-or);
}

.flex .card h3 {
    font-size: calc(1em + .3vw);
    font-weight: var(--fwl);
    color: var(--db);
    margin-bottom:10px;
}
.flex .card p {
    font-size: calc(.8em + .3vw);
    font-weight: var(--fwm);
    color: var(--gr-b);
    margin: 0 auto 10px;
}
.container .card  .description {
    height: 40%;
}
.container .card   .icon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.container .card   .icon img {
    width: 50px;
}
.flex-in {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (max-width:992px) {
    .flex-in {
        order: 3;
        flex-grow: 1;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .container .flex >.card:nth-child(2n+1) {
        margin-top:0 ;
    }
}


