@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --p-red: hsl(0, 78%, 62%);
    --p-Cyan:hsl(180, 62%, 55%);
    --p-orange: hsl(34, 97%, 64%);
    --p-blue:hsl(212, 86%, 64%);
    --s-dark-blue:hsl(234, 12%, 34%);
    --s-grayish-blue:hsl(229, 6%, 66%);
    --s-v-l-gray:hsl(0, 0%, 98%);
    --fw-s:200;
    --fw-n:400;
    --fw-l:600;

}
body {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eee;
}
.container {
    width:90%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;

    margin: auto;
}
@media(max-width:576px){
   .container {
       width: 100%;
   }
}
@media(min-width:1200px){
   .container {
       max-width: 1130px;
   }
}
@media(min-width:1420px){
   .container {
       max-width: 1360;
   }
}
.container header {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.container header h3 {
    font-size: calc(1.3rem + .6vw);
    font-weight: var(--fw-s);
    color: var(--s-dark-blue);
    margin-bottom: 2px;
}

.container header h2 {
    font-size: calc(1.5rem + .6vw);
    font-weight: var(--fw-l);
    color: var(--s-dark-blue);
    margin-bottom: 10px;
}
.container header p {
    font-size: calc(.8rem + .3vw);
    font-weight: var(--fw-n);
    color: var(--s-dark-blue);
    margin-bottom: 20px;
    width: 50%;
    margin: auto;
}


@media(min-width:1200px) {
    .container header h3 {
        font-size: 1.6rem;
    }
    .container header h2 {
        font-size:1.9rem ;
    }
    .container header p {
        font-size: 1rem;
    }
}
@media( max-width: 576px ) {
    .container header P {
        width: 100%;
    }
}


.flex {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 50px 0;
}
.flex .card  {
    width: 300px;
    height: 220px;
    flex-grow: 1;
    background-color: white;
    position: relative;

} 
.flex .card::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    left: 0px;
    top: -1px;
    border-top-left-radius:6px;
    border-top-right-radius: 6px ;
}
.flex > .card:nth-child(1)::before {
    background-color:var(--s-dark-blue);
}
.flex > .card:nth-child(3)::before {
    background-color: var(--p-Cyan) ;
}
.flex .flex-in .card:first-child::before {
    background-color: var(--p-red);
}
.flex .flex-in .card:last-child:before {
    background-color: var(--p-orange);
}

.flex > :nth-child(2n + 1) {
    align-self: center;
}
.flex-in {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 300px;
    flex-grow: 1;
}

@media (max-width:1070px) {
    .flex-in {
        order: 3;
        justify-content: center;
    }
}
.flex .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow:  2px 3px 10px 2px #80808040;

}
.flex .card .icon  {
     display: flex;
     justify-content: flex-end;
}
.flex .card .icon img {
    width: 50px;
}
.flex .card h3 {
    font-size: larger;
    font-weight: bold;
    margin: 10px 0;
}
.flex .card p {
    font-weight: var(--fw-n);
    color: var(--s-dark-blue);
    width: 80%;
}
